@import "tailwindcss";

:root {
  --azul: #1B3A6B;
  --naranja: #F97316;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F8F9FA;
  color: #111827;
}